* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Georgia', serif;
    background-color: #FFEEF2;
    padding-top: 7vh;
}

/* ===== HEADER ===== */
header {
    background-color: #97264C;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    height: 7vh;
}

.nav-page-header ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1.5rem;
    height: 7vh;
    margin: 0;
    padding-right: 20px;
}

.nav-page-header a {
    text-decoration: none;
    color: white;
}

.nav-page-header a:hover,
.nav-page-header a.active {
    font-weight: bold;
    color: #f8d4dd;
    text-decoration: underline;
}

/* ===== MAIN ===== */
main {
    max-width: 1000px;
    margin: 0 auto;
    padding: 2rem 1.5rem;
}

/* ===== TITLES ===== */
h1 {
    color: #97264C;
    font-size: 40px;
    text-align: center;
    margin: 3rem 0;
    font-weight: bold;
    text-transform: uppercase;
}

h2 {
    font-weight: bold;
    color: #5b0213;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    border-bottom: 4px solid #e58ca3;
    display: inline-block;
    padding-bottom: 6px;
}

/* ===== DOWNLOAD CARDS ===== */
.deliverable-card {
    background-color: #fff0f6;
    border: 2px solid #97264C;
    border-radius: 16px;
    padding: 20px 22px;
    margin: 20px 0;

    box-shadow: 0 4px 10px rgba(0,0,0,0.12);
    transition: transform 0.25s ease, box-shadow 0.25s ease;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.deliverable-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 18px rgba(0,0,0,0.18);
}

.deliverable-card p {
    color: #5b0213;
    line-height: 1.5;
}

/* ===== DOWNLOAD BUTTON ===== */
.btn-download {
    display: inline-block;
    background-color: #97264C;
    color: white;
    text-decoration: none;

    padding: 10px 16px;
    border-radius: 10px;
    width: fit-content;

    font-weight: bold;

    transition: 0.2s ease;
}

.btn-download:hover {
    background-color: #5b0213;
    transform: scale(1.03);
}
.contact-sectie {
    background-color: #97264C;
    color: white;
    padding: 60px 20px;
    text-align: center;
}


.contact-links {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}

.contact-item {
    display: flex;
    align-items: center;
    gap: 15px;
    text-decoration: none;
    color: white;
    transition: opacity 0.3s;
}

.contact-item:hover {
    opacity: 0.8;
}
.contact-item img {
    width: 18px;
    height: 18px;
    flex-shrink: 0;
}
.contact-sectie h1{
    font-weight: bold;
    color: white;
    padding-left: 20px;
    line-height: 7vh;
    text-align: center;
    text-transform: lowercase;
    margin: 20px;
}